name: Pull request validation

on:
  pull_request:
    branches: [main]
  workflow_dispatch: {}

jobs:
  call-workflow:
    strategy:
      matrix:
        switch: [current]
    uses: compulim/workflows/.github/workflows/pull-request-validation.yml@main
    with:
      node-version: 22 # Requires Node.js 22 for some tests.
      package-name: '@webchat-forge/micromark-extension-copilot'
      skip-integration-test: true
      switch: ${{ matrix.switch }}
